<footer class="footer">
  <h3 class="titulo-footer">Contato</h3>
  <div class="container caixa-footer">

    <section class="contato">
      <a href="mailto:email@email.com"><img src="/assets/img/icones-footer/icone-email.png">email@email.com</a>
      <a href="#"><img src="/assets/img/icones-footer/icone-wpp.png">(xx) xxxxx-xxxx</a>
    </section>

    <section class="mapa">
      <img src="/assets/img/icones-footer/icone-mapa.png" class="icone-mapa">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29255.558100005426!2d-46.63070176206104!3d-23.57042727193841!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59c88c16c03b%3A0xb36f532c0f310e90!2sSenai%20S%C3%A3o%20Paulo!5e0!3m2!1spt-BR!2sbr!4v1632777792726!5m2!1spt-BR!2sbr"
        width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </section>

    <section class="redes-sociais">
      <a href="https://www.facebook.com/handryo.placido" target="_blank"><img src="/assets/img/icones-footer/icone-face.png">Facebook</a>
      <a href="https://www.instagram.com/handryo_casali/" target="_blank"><img src="/assets/img/icones-footer/icone-insta.png">Instagram</a>
    </section>
  </div>
</footer>
