<main>
  <section class="monte-seu-pc">
    <div class="container">
      <h2>Monte seu pc</h2>
      <div class="caixa-monte-seu-pc">
        <ol class="lista-componentes">
          <li class="componente">
            <div class="imagem-componente">
              <img src="/assets/img/icone-componentes/processadores.png" alt="">
              <h3>Processador</h3>
            </div>
            <div class="selecione-componente">
              <p>Selecione os componentes</p>
              <button class="btn btn-secondary">Selecionar</button>
            </div>
          </li>
          <li class="componente">
            <div class="imagem-componente">
              <img src="/assets/img/icone-componentes/placa-mae.png" alt="">
              <h3>Placa Mãe</h3>
            </div>
            <div class="selecione-componente">
              <p>Selecione os componentes</p>
              <button class="btn btn-secondary">Selecionar</button>
            </div>
          </li>
          <li class="componente">
            <div class="imagem-componente">
              <img src="/assets/img/icone-componentes/memoria-ram.png" alt="">
              <h3>Memória ram</h3>
            </div>
            <div class="selecione-componente">
              <p>Selecione os componentes</p>
              <button class="btn btn-secondary">Selecionar</button>
            </div>
          </li>
          <li class="componente">
            <div class="imagem-componente">
              <img src="/assets/img/icone-componentes/placa-de-video.png" alt="">
              <h3>Placa de vídeo</h3>
            </div>
            <div class="selecione-componente">
              <p>Selecione os componentes</p>
              <button class="btn btn-secondary">Selecionar</button>
            </div>
          </li>
          <li class="componente">
            <div class="imagem-componente">
              <img src="/assets/img/icone-componentes/hdd.png" alt="">
              <h3>HD/SSD</h3>
            </div>
            <div class="selecione-componente">
              <p>Selecione os componentes</p>
              <button class="btn btn-secondary">Selecionar</button>
            </div>
          </li>
          <li class="componente">
            <div class="imagem-componente">
              <img src="/assets/img/icone-componentes/fonte-de-energia.png" alt="">
              <h3>Fonte</h3>
            </div>
            <div class="selecione-componente">
              <p>Selecione os componentes</p>
              <button class="btn btn-secondary">Selecionar</button>
            </div>
          </li>
        </ol>
        <div class="valor-atual">
          <h3>Valor atual</h3>
          <p>R$ 0,00</p>
          <a class="btn btn-primary" routerLink="/carrinho">Adicionar no carrinho</a>
        </div>
      </div>
    </div>
  </section>
</main>
