.monte-seu-pc {
  color: var(--cor-branco);
  /* background-color: var(--cor-azul); */
  background: url(/assets/img/background-monte-seu-pc.png);
  padding: 20px 0;
}

.caixa-monte-seu-pc {
  display: flex;
  justify-content: space-between;
}

.monte-seu-pc h2 {
  margin-bottom: 1em;
}

.lista-componentes {
  flex-grow: 1;
  list-style: none;
  padding-left: 0;
  margin: 0 30px 0 0;
}

.componente {
  width: 100%;
  height: 180px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  background-color: var(--cor-preto-transparente);
}

.imagem-componente {
  width: 155px;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  text-align: center;
}

.imagem-componente img {
  width: 50px;
  height: 50px;
}

.imagem-componente h3 {
  margin-top: 0.3em;
  font-size: 1.2em;
  text-transform: uppercase;
}

.selecione-componente {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
}

.selecione-componente p {
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
}

.valor-atual {
  height: 180px;
  background-color: var(--cor-preto-transparente);
  padding: 1em;
}

@media screen and (max-width: 768px) {
  .caixa-monte-seu-pc {
      flex-direction: column;
  }
  .lista-componentes {
      margin: 0;
  }
  .valor-atual {
      align-self: center;
  }
}

@media screen and (max-width: 575px) {
  .selecione-componente p {
      display: none;
  }

  .componente {
      flex-direction: column;
      padding: 1em 0;
  }
  .selecione-componente button {
      margin-top: 0.5em;
  }
}
