.produtos-carrinho {
  font-family: var(--font-fira-code);
  height: 50vh; /* cuidado */
}

.produtos-carrinho h2::before {
  content: url(/assets/img/icones-nav/imagem-carrinho.png);
  width: 50px;
  height: 50px;
}
